doctype html
html
	include ./includes/head.jade
	body
		h1 Sudoku
		p Welcome to Sudoku.
		script
			$( document ).ready( function() {
				var game = Sudoku.getInstance();
				//when load page should append a new gameboard
				//when click clear should reset the gameboard
				//when click newGame should generate a new gameboard
				//when click solution should generate a solution gameboard
			});
		include ./includes/foot.jade