body {
	color: green;
}
header {
	color: purple;
	border: 1px solid red;
}
#gameBoardContainer {
	/*width: auto;*/
	height: 320px;
	border: 2px solid green;
}
#userCtrlContainer {
	/*width: auto;*/
	/*height: 300px;*/
	border: 1px solid blue;
}
.parentMatrix {
	background-color: black;
	width: 320px;
	height: 320px;
}
.childMatrix {
	background-color: pink;
	width: 100px;
	height: 100px;

}