doctype html
html
	include includes/head.jade
	body
		header
			img(src="imgs/sudoku-logo.svg")
		div#game-board-container
		div#user-ctrl-container
			button.restart Restart
			button.solution Solution
			button.new-game New Game
		article
			p.article-title How to play?
			p.article-content.
				The goal of SudoKu is to fill in a 9×9 grid with digits so that each column,
				row, and 3×3 section contain the numbers between 1 to 9.
			p.article-end Have fun!
		div.imgContainer
			img(src="imgs/birdy.png")

		
		script.
			$(document).ready(function() {
				var game = Sudoku.getInstance();

				$('#game-board-container').append(game.gameBoard());

				$('.restart').on('click', function() {
					game.reset();
				});

				$('.new-game').on('click', function() {
					$('.parent-matrix').remove();
					$('#game-board-container').append(game.gameBoard());
				});

				$('.solution').on('click', function () {
					game.solution();
				});
			});