doctype html
html
	include includes/head.jade
	body
		header Sudoku
		div#game-board-container
		div#user-ctrl-container
			button.restart Restart
			button.solution Solution
			button.new-game New Game
		article
			p.article-title How to play?
			p.article-content.
				If you don't know how to play, just
				click the solution button. I can
				help you.
			p.article-end Have fun!




		script.
			$(document).ready(function() {
				var game = Sudoku.getInstance();
				//when load page should append a new gameboard
				$('#game-board-container').append(game.gameBoard());
				//when click clear should reset the gameboard
				//when click newGame should generate a new gameboard
				//when click solution should generate a solution gameboard
			});
		include includes/foot.jade