head
	title Sudoku
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='./style/reset.css')
	link(rel='stylesheet', href='./style/style.css')
	//- link(rel='stylesheet', href='./style/animation.css')	
	script(src='./bower_components/jquery/dist/jquery.js')
	script(src='./js/data.js')
	script(src='./js/main.js')