head
	title Sudoku
	link(rel='stylesheet', href='./style/reset.css')
	link(rel='stylesheet', href='./style/style.css')
	script(src='./bower_components/jquery/dist/jquery.js')
	script(src='./js/main.js')