head
	title Sudoku
	link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='./style/reset.css')
	link(rel='stylesheet', href='./style/style.css')
	script(src='./bower_components/jquery/dist/jquery.js')
	script(src='./js/data.js')
	script(src='./js/main.js')